{loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $archive}
									<div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<a href="{$archive['url']}" ><img alt="{$archive['stitle']}" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' />
												<div class="item-text text-center">
													<p class="s-para">{$archive['title']}</p>
													<h5 class="s-heading">{$archive[intro]}</h5>
												</div></a>
					                		</div>
					                	</div>
					                </div>
{/loop}