{template 'header.html'} {template 'system/slide.html'}

<div class="welcome text-center">
    <div class="container">
        {tag_首页第二行栏目说明}
    </div>
</div>

<!--latest designs-->
<div id="cate" class="categories">
    <div class="container">
        <div class="cat-head">
            <h3>{tag_首页第三行栏目}</h3>
        </div>
        <div class="categorie-grids cs-style-1">
            {tag_首页第三行栏目图片6条}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//latest designs-->
<!-- testimonials -->
<div class="second-slider">
    <div class="container">
        <h3 class="tes text-center">{tag_首页第四行栏目}</h3>
        <div id="top1" class="callbacks_container">
            <ul class="rslides" id="slider4">
                {tag_首页第四行滚动内容}
            </ul>
        </div>
    </div>
</div>
<!-- //testimonials -->
<!-- news -->
<div class="news" id="blog">
    <div class="container">
        <div class="news-head text-center">
            {tag_首页第五行栏目说明}
        </div>
        <div class="news-grids">
            {tag_首页第五行栏目6条}
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //news -->


{template 'footer.html'}